@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.container-modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.80);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #00C2FF;
    padding: 15px;
    border-radius: 1rem;
    margin: auto;
}
.modal button {
    background-color: rgb(255, 191, 0);;
    border: 2px solid rgb(0, 32, 67);;
    border-radius: 0.8rem;
    padding: 8px;
    transition: 300ms;
}
.modal button:hover{
    color: aliceblue;
}

#closeBtn{
    display: block;
    float: right;
    cursor: pointer;
}
.themeSection{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.addWord{
    display: flex;
    gap: 5px;
}

.addWord input{
    border: 3px solid rgb(0, 32, 67);
    border-radius: 5px;
}

label{
    text-align: center;
    color: aliceblue;
}

select, option {
    font-size: 20px;
    letter-spacing: 1px;
    padding: 5px;
    border: 2px solid rgb(0, 32, 67);
}
select{
    border-radius: 5px;
}


select:hover{
    background-color: rgb(255, 191, 0);
    color: aliceblue;
}

select, option, button, input, label {
    font-family: 'Roboto', sans-serif;
    color: rgb(0, 32, 67);
    outline: none;
}

.modal-alert {
    position: absolute;
    display: flex;
    align-items: center;
    height: 100%;

    animation: letterdown 2s ease-in-out;
}

@keyframes letterdown {
    0%, 50% {top: 0px; opacity: 100%;}
    55%, 100% {top: 10px;opacity: 0;}
}