/* @import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap');


* {
    /* font-family: 'Schoolbell', cursive; */
    font-family: 'Shadows Into Light', cursive;
    font-weight: bolder;
    letter-spacing: 5px;
}

body{
    background: whitesmoke url(../assets/images/bg-lines.png) repeat center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 10px;
}

.newgame {
    color: #00C2FF;
    border: 3px solid #00C2FF;
    border-radius: 0.8rem;
    font-size: 1.5rem;
    padding: 8px;
    cursor: pointer;
    transition: 500ms;
}

.newgame:hover {
    color: #2497b9;
    border-color:#2497b9;
}


main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;

}

.wrong-letter span {
    font-size: 3rem;
    margin: 0.5rem;
}

.container-user-status{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.game-status {
    font-size: 1.5rem;
}

.secret-word-content{
    margin: 0 auto;
}

.secret-word-content span {
    font-size: 3.5rem;
    margin: 1rem;
}

/* .key-style-btn {
    background-color: wheat;
    padding: 15px;
} */
.container-modal {
    display: none;
    background-color: rgba(0, 0, 0, 0.20);
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.modal {
    background-color: palegoldenrod;
    padding: 15px;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    margin: auto;
    /* width: 50%; */
}

footer a {
    color: #00C2FF;
    transition: 500ms;
}

footer a:hover{
    color:#2497b9;
}
